<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clianio - Cleaning Services HTML Template - Home One - One Page</title>
    <meta name="description" content="Clianio - Cleaning Services HTML Template">
    <meta name="author" content="Vecuro">
    <meta name="keywords" content="Clianio - Cleaning Services HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/tailor/products/html/clianio/demo/assets/img-tailor/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/app.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/flaticon.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/style.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/spacing.min.css">

</head>

<body>
    <!--
    <div class="preloader bg-primary3">
        <div class="loader-inner">
            <div class="loader-logo"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/logo.png" alt="Clianio"></div>
            <div class="loader">
                <div class="line bg-primary"></div>
                <div class="line bg-primary2"></div>
                <div class="line bg-primary"></div>
                <div class="line bg-primary2"></div>
            </div>
        </div><button class="loader-btn preloaderCls">Cancel Preloader</button>
    </div>
-->
    <!--********************************************* HEADER-START *****************************************-->

    <div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#"><input type="text" placeholder="What are you looking for"> <button type="submit"><i class="fal fa-search"></i></button></form>
    </div>
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area"><button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/logo.png" alt="Clianio"></a></div>
            <div class="vs-mobile-menu onepage-nav"></div>
        </div>
    </div>
    <div class="sticky-header-wrap sticky-header py-1 py-sm-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/logo.png" alt="Clianio"></a></div>
                </div>
                <div class="col-7 col-md-9 text-right position-static">
                    <nav class="main-menu menu-style1 d-none d-lg-block onepage-nav">
                        <ul>
                            <li><a href="products/html/clianio/demo/index.html">Hoome</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#estimate">Estimate</a></li>
                            <li><a href="#service">Service</a></li>
                            <li><a href="#process">Process</a></li>
                            <li><a href="#project">Project</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav><button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <header class="vs-header-wrapper header-layout1">
        <div class="header-logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/logo.png" alt="Clianio"></a></div><a href="tel:+892125658965" class="vs-btn style4 call-button">+892 1256 58965<i class="fas fa-phone-alt"></i></a>

        <div class="header-menu-wrap">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-2 col-lg-3 col-xl-2">
                        <div class="header-menu-left select-btn"><select name="siteLanguage" id="siteLanguage" class="select-btn radius-50">
                                <option value="english">English</option>
                                <option value="French">French</option>
                                <option value="Germany">Germany</option>
                            </select></div>
                    </div>
                    <div class="col-md-12 col-lg-7 col-xl-8 position-static">
                        <nav class="main-menu menu-style1 text-center mobile-menu-active onepage-nav">
                            <ul>
                                <li><a href="products/html/clianio/demo/index.html">Hoome</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#estimate">Estimate</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#process">Process</a></li>
                                <li><a href="#project">Project</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav><button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                    <div class="col-lg-2 align-self-center">
                        <div class="header-button text-right d-none d-lg-block">
                            <ul>
                                <li><a href="#" class="searchBoxTggler"><i class="far fa-search"></i></a></li>
                                <li><a href="#" class="sideMenuToggler"><i class="far fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--********************************************* HEADER END *****************************************-->

    <!--********************************************* SLIDER-START *****************************************-->

    <section class="vs-hero-wrapper vs-hero-layout1">
        <div class="vs-hero-carousel" data-height="900" data-navbuttons="true" data-navbuttons-color="white">
            <div class="hero-slide ls-slide" data-ls="duration: 7000; transition2d: 4;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/slide-img-1-1.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 215px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout:
        1000; "></div>
                <p class="ls-l sub-title" style="left: 50px; top: 340px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Professional Maintenance Services</p>
                <h1 class="title ls-l" style="left: 50px; top: 380px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">One stop commercial cleaning Company</h1>
                <p class="text ls-l" style="left: 50px; top: 545px; width: 635px; white-space: normal; margin-bottom: 0; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;" data-ls="offsetxin: -100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Rapidiously deliver equity invested web-readiness rather than B2C human capital. Progressively evisculate global customer service.</p>
                <div class="hero-btn ls-l" style="top: 637px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/about.html" class="vs-btn style1">Explore Products<i class="far fa-angle-right"></i></a></div>
                <!-- <div class="hero-btn ls-l" style="top: 637px; left: 234px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/contact.html" class="vs-btn style4 ml-5 ml-md-4 ml-lg-0">Explore Products<i class="fal fa-calendar-alt"></i></a></div> -->
            </div>
            <div class="hero-slide ls-slide" data-ls="duration: 7000; transition2d: 4;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/slide-img-1-2.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 215px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout:
        1000; "></div>
                <p class="ls-l sub-title" style="left: 50px; top: 340px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Save Time & Money</p>
                <h1 class="title ls-l" style="left: 50px; top: 380px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Making your house as good as new</h1>
                <p class="text ls-l" style="left: 50px; top: 545px; width: 625px; white-space: normal; margin-bottom: 0; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;" data-ls="offsetxin: -100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">We provide janitorial and specialized cleaning services for all types and sizes of complexes from small to large offices.</p>
                <div class="hero-btn ls-l" style="top: 637px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/about.html" class="vs-btn style1">Appointment <i class="far fa-angle-right"></i></a></div>
                <!-- <div class="hero-btn ls-l" style="top: 637px; left: 234px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/contact.html" class="vs-btn style4 ml-5 ml-md-4 ml-lg-0">Explore Products<i class="fal fa-calendar-alt"></i></a></div> -->
            </div>
            <div class="hero-slide ls-slide" data-ls="duration: 7000; transition2d: 4;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/slide-img-1-3.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 215px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout:
        1000; "></div>
                <p class="ls-l sub-title" style="left: 50px; top: 340px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Professional Maintenance Services</p>
                <h1 class="title ls-l" style="left: 50px; top: 380px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Faster and Efficiently home clean</h1>
                <p class="text ls-l" style="left: 50px; top: 545px; width: 625px; white-space: normal; margin-bottom: 0; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;" data-ls="offsetxin: -100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">We provide janitorial and specialized cleaning services for all types and sizes of complexes from small to large offices.</p>
                <div class="hero-btn ls-l" style="top: 637px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/about.html" class="vs-btn style1">Appointment <i class="far fa-angle-right"></i></a></div>
                <!-- <div class="hero-btn ls-l" style="top: 637px; left: 234px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/contact.html" class="vs-btn style4 ml-5 ml-md-4 ml-lg-0">Explore Products<i class="fal fa-calendar-alt"></i></a></div> -->
            </div>
        </div>
    </section>

    <!--********************************************* SLIDER END *****************************************-->

    <!--********************************************* ABOUT-US-START *****************************************-->

    <section class="vs-about-us-wrap vs-about-us-layout3 pb-60 pb-lg-130" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="about-us-image position-relative py-40 py-xl-70">
                        <div class="about-image1 rounded-circle overflow-hidden"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/about/about-3-1.jpg" alt="About Us Image" class="w-100"></a></div>
                        <div class="about-imgage2 rounded-circle overflow-hidden p-1 p-xl-3 bg-white"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/about/about-3-2.jpg" alt="About Us Image" class="w-100 rounded-circle"></a></div>
                        <div class="experiance-box bg-primary border-white rounded-circle d-flex align-items-center justify-content-center">
                            <div class="exp-content pt-sm-2"><span class="total-exp counter text-white">25</span>
                                <p class="exp-text text-white mb-0 font-blod">Years Of Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 offset-xl-1">
                    <div class="about-content"><span class="sub-title mb-10 text-primary2 text-20"><strong>Professional Services</strong></span>
                        <h2 class="title heading1 text-primary3">We will make your world beautiful.</h2>
                        <p class="text">Proactively redefine alternative processes for resource sucking web services. Proactively optimize 24/365 strategic theme areas for superior niche markets.</p>
                        <!--
                        <div class="author-sign d-inline-block mb-3 mb-sm-0"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/about/author-sign.png" alt="Anhen Sheen"></div>
                        <div class="author-info d-inline-block border-primary2 bg-white ml-sm-20 ml-lg-35">
                            <h3 class="name heading4 text-primary2 mb-0">Anhen Sheen</h3><span class="degi text-primary3">Cleanio CEO</span>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* ABOUT-US-END *****************************************-->

    <!--********************************************* OUR-PROJECT-START **********************************-->

    <section class="vs-projects-wrapper projects-box-layout1 pt-60 pt-lg-130" id="project">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7">
                    <div class="section-title">
                        <h2 class="title1">Our Products</h2>
                        <p class="text">Choose the Product you would like to stitch.</p><span class="icon"><i class="flaticon-cleaning"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 overflow-hidden">
            <div class="row gutters-10 vs-carousel" data-slidetoshow="5" data-arrows="true" data-xlslidetoshow="4" data-mlslidetoshow="3" data-lgslidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-1.jpg" alt="Project Image" class="w-100"></div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-house icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">House Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-2.jpg" alt="Project Image" class="w-100"> </div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-window-1 icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">Window Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-3.jpg" alt="Project Image" class="w-100"> </div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-wipe icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">Glass Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-4.jpg" alt="Project Image" class="w-100"></div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-kitchen icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">Kitchen Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-5.jpg" alt="Project Image" class="w-100"></div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-mop icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">Floor Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vs-project">
                        <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/projects/project-img-1-6.jpg" alt="Project Image" class="w-100"></div>
                        <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-cupboard icon-3x"></i></span>
                            <h3 class="heading4 text-white"><a href="products/html/clianio/demo/projects.html">Washroom Cleaning</a></h3>
                            <p class="text-white mb-0">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* OUR-PROJECT-END *****************************************-->
    <section class="vs-cta-wrapper vs-cta-layout1 background-image py-lg-130 py-60" data-vs-img="assets/img/cta/cta-1-1.jpg" data-overlay="primary2" data-opacity="7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-6">
                    <div class="cta-content text-center text-lg-left">
                        <h2 class="cta-title text-white">Onte rewarding <strong>relationship we will happily</strong> celebrate.</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6">
                    <div class="cta-button text-center text-lg-right pt-4 pt-lg-0"><a href="/tailor-products" class="vs-btn style1 mb-3 mb-sm-0">Explore Products</a> <a href="products/html/clianio/demo/contact.html" class="vs-btn style2">Appointment<i class="far fa-calendar-alt"></i></a></div>
                </div>
            </div>
        </div>
    </section>


    <!--********************************************* REQUEST-ESTIMATE-START ********************************-->

    <!--
    <section class="vs-estimate-form estimate-form-layout1 bg-secondary border-primary pt-lg-130 pt-60 pb-lg-100 pb-30" id="estimate">
        <form action="#" class="estimate-form input-style2">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <div class="form-title">
                            <h2 class="title1 mb-10 mb-lg-25">Request an Estimate</h2>
                            <p class="font-medium text-md mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sit autem beatae! Error nihil laboriosam, cumque, aut libero ipsum sed.</p>
                        </div>
                    </div>
                </div>
                <div class="row pt-25 pt-lg-55 align-items-center gutters-20">
                    <div class="form-group col-md-6 col-xl-3"><select>
                            <option>Select Your Services</option>
                            <option>Home Clean</option>
                            <option>Shop Clean</option>
                            <option>Bathroom Clean</option>
                            <option>Garden Clean</option>
                            <option>Supershop Clean</option>
                            <option>Floor Clean</option>
                        </select></div>
                    <div class="form-group col-md-6 col-xl-3"><i class="fas fa-phone-alt"></i> <input type="number" placeholder="Your Mobile Number" class="form-control"></div>
                    <div class="form-group col-md-8 col-lg-9 col-xl-4"><i class="fas fa-map-marker-alt"></i> <input type="text" placeholder="Type services Location" class="form-control"></div>
                    <div class="form-group col-md-4 col-lg-3 col-lg-3 col-xl-2 text-left text-lg-right"><button class="vs-btn style2 w-100">Search Now<i class="far fa-long-arrow-alt-right ml-4"></i></button></div>
                </div>
            </div>
        </form>
    </section>
-->

    <!--********************************************* REQUEST-ESTIMATE-END ****************************-->


    <!--********************************************* OUR-SERVICES-START ****************************-->

    <section class="vs-service-wrapper service-box-layout3 pt-5 pt-md-3 pt-lg-5 pt-xl-0 pb-30 pb-lg-100" id="service">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-7">
                    <div class="section-title3"><span class="text-primary sub-title">Our <span class="bg-primary text-white">Work</span></span>
                        <h2 class="title1">Service</h2><span class="icon mb-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/section-title-icon-1.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                        <p class="text font-md font-medium">The great thing about fashion is that it always moves forward.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="row vs-carousel" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-xl-4">
                    <div class="vs-service background-image" data-vs-img="assets/img/service/service-box-bg-3-1.png">
                        <div class="service-image mb-minus-15"><a href="products/html/clianio/demo/service-details.html"><img class="w-100" src="/tailor/products/html/clianio/demo/assets/img-tailor/service/service-3-1.png" alt="Service Image"></a></div>
                        <div class="service-content"><span class="service-price bg-primary2 text-white">$200 - $1000</span>
                            <h3 class="title heading4"><a href="products/html/clianio/demo/service-details.html">House Cleaning</a></h3>
                            <p class="text">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-service background-image" data-vs-img="assets/img/service/service-box-bg-3-1.png">
                        <div class="service-image mb-minus-15"><a href="products/html/clianio/demo/service-details.html"><img class="w-100" src="/tailor/products/html/clianio/demo/assets/img-tailor/service/service-3-2.png" alt="Service Image"></a></div>
                        <div class="service-content"><span class="service-price bg-primary2 text-white">$290 - $800</span>
                            <h3 class="title heading4"><a href="products/html/clianio/demo/service-details.html">Commercial Cleaning</a></h3>
                            <p class="text">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-service background-image" data-vs-img="assets/img/service/service-box-bg-3-1.png">
                        <div class="service-image mb-minus-15"><a href="products/html/clianio/demo/service-details.html"><img class="w-100" src="/tailor/products/html/clianio/demo/assets/img-tailor/service/service-3-3.png" alt="Service Image"></a></div>
                        <div class="service-content"><span class="service-price bg-primary2 text-white">$199 - $999</span>
                            <h3 class="title heading4"><a href="products/html/clianio/demo/service-details.html">Apartment Cleaning</a></h3>
                            <p class="text">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-service background-image" data-vs-img="assets/img/service/service-box-bg-3-1.png">
                        <div class="service-image mb-minus-15"><a href="products/html/clianio/demo/service-details.html"><img class="w-100" src="/tailor/products/html/clianio/demo/assets/img-tailor/service/service-3-4.png" alt="Service Image"></a></div>
                        <div class="service-content"><span class="service-price bg-primary2 text-white">$560 - $2500</span>
                            <h3 class="title heading4"><a href="products/html/clianio/demo/service-details.html">Window Cleaning</a></h3>
                            <p class="text">Globally mesh multimedia based impera- tives before end-to-end ideas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* OUR-SERVICES-END *****************************-->


    <!--************************************** HOW-WE-WORK-START *****************************************-->
    <section class="vs-work-process-wrap work-process-layout1 bg-light pt-60 pt-lg-130 pb-30 pb-lg-100" id="process">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7">
                    <div class="section-title">
                        <h2 class="title1">How We Works</h2>
                        <p class="text">Professionally orchestrate accurate information via impactful infrastructures. Assertively fashion cross-platform models.</p><span class="icon"><i class="flaticon-cleaning"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="row work-process-area vs-carousel" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary"></span> <span class="number bg-primary border-white text-white">01</span></div>
                        <div class="work-process-content border-primary"><span class="icon text-primary"><i class="flaticon-wipe icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Account & Check In</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary3"></span> <span class="number bg-primary3 border-white text-white">02</span></div>
                        <div class="work-process-content"><span class="icon text-primary3"><i class="flaticon-cleaning icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Choose Category</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn text-primary3">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary2"></span> <span class="number bg-primary2 text-white border-white">03</span></div>
                        <div class="work-process-content"><span class="icon text-primary2"><i class="flaticon-mop icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Get Clean Property</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn text-primary2">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary"></span> <span class="number bg-primary border-white text-white">01</span></div>
                        <div class="work-process-content border-primary"><span class="icon text-primary"><i class="flaticon-wipe icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Account & Check In</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary3"></span> <span class="number bg-primary3 border-white text-white">02</span></div>
                        <div class="work-process-content"><span class="icon text-primary3"><i class="flaticon-cleaning icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Choose Category</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn text-primary3">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary2"></span> <span class="number bg-primary2 text-white border-white">03</span></div>
                        <div class="work-process-content"><span class="icon text-primary2"><i class="flaticon-mop icon-4x"></i></span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Get Clean Property</a></h3>
                            <p class="text">Competently provide access to global technologies without client-focused.</p><a href="products/html/clianio/demo/about.html" class="link-btn text-primary2">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* HOW-WE-WORK-END *****************************************-->

    <!--********************************************* Online Shop-START ******************************-->


    <section class="vs-appointment-form appointment-form-layout1 background-image py-lg-130 py-60" id="contact" data-vs-img="/tailor/products/html/clianio/demo/assets/img-tailor/hero/slide-img-1-3.jpg" data-overlay="primary2" data-opacity="8">
        <div class="container">
            <div class="form-title pb-15 pb-lg-30">
                <h2 class="title1 text-white">Visit Our Online Shop</h2>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="appointment-form input-style2">
                        <div class="row gutters-10">

                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <div class="form-group col-md-4 text-center">
                                <a href="#">
                                    <div class="form-control vs-btn style1">
                                        Sarees
                                    </div>
                                </a>
                            </div>
                            <!--                            <div class="form-group col-md-4"><input type="text" placeholder="mm/dd/yyy" class="form-control date-pick"></div>-->
                            <div class="form-group col-12 mt-20 mb-0 text-center">
                                <a href="/tailor-products">
                                    <div class="vs-btn style1">--> Visit Shop <i class="fal fa-calendar-alt"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--********************************************* Online SHop-END *****************************************-->

    <!--********************************************* CUSTOMER-REVIEW-START *****************************************-->

    <!--
    <section class="vs-testimonial-wrapper vs-testimonial-layout1 py-60 py-lg-130">
        <div class="container">
            
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-5 col-xl-6">
                    <div class="testimonial-about-image position-relative d-inline-block"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/testimonial-video-img-1-1.jpg" alt="Testimonial Image"> <a href="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1" class="play-btn overlay-center popup-video"><i class="fas fa-play"></i></a></div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="-about pt-4 pt-lg-0 pb-3 pb-lg-0">
                        <h2 class="heading1 font-normal"><strong>Experience</strong> a healthier cleaner <strong class="text-primary2">home.</strong></h2>
                        <p class="font-italic font-medium font-md mb-20 mb-xl-40">Professionally e-enable client-based e-markets through one-to-one materials. Rapidiously develop long-term high-impact ROI.</p>
                        <div class="inner-list">
                            <ul>
                                <li><strong>Seamlessly incubate intuitive data</strong>
                                    <p class="mb-0">Proactively redefine alternative processes for resource sucking web services. Proactively optimize 24/365 strategic.</p>
                                </li>
                                <li><strong>Visavis installed base testing</strong>
                                    <p class="mb-0">Proactively redefine alternative processes for resource sucking web services. Proactively optimize 24/365 strategic.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-xl-7">
                        <div class="section-title2">
                            <h2 class="title">Testimonial</h2><span class="icon"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/section-title-icon-1.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                            <p class="text">Quickly extend innovative meta-services for multifunctional paradigms. Distinctively customize focused experiences through vertical best practices.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-area pt-30 pt-lg-80 pb-10 pb-lg-50 px-20 px-md-40 px-lg-80 px-xl-100 mb-30 bg-white">
                <div class="testimonial-author-image vs-carousel" id="author-image" data-slidetoshow="3" data-asnavfor="#testomonial-content" data-centermode="true" data-xlcentermode="true" data-mlcentermode="true" data-lgcentermode="true" data-mdcentermode="true" data-smcentermode="true" data-xscentermode="true" data-arrows="true" data-xlarrows="true" data-mlarrows="true" data-lgarrows="true" data-mdarrows="true" data-smarrows="true">
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-1.jpg" alt="Author Image"></div>
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-2.jpg" alt="Author Image"></div>
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-3.jpg" alt="Author Image"></div>
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-4.jpg" alt="Author Image"></div>
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-5.jpg" alt="Author Image"></div>
                    <div class="image"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/testimonial/author-img-6.jpg" alt="Author Image"></div>
                </div>
                <div class="testimonial-content-area vs-carousel" id="testomonial-content" data-fade="true" data-slidetoshow="1" data-asnavfor="#author-image">
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">Adam Jonas</h3><span class="degi text-title">Cleaner</span>
                        <p class="text font-medium text-title pt-25">“ Seamlessly repurpose 24/7 e-business vis-a-vis resource sucking customer service. Efficiently unleash backward-compatible manufactured products whereas backward-compatible infrastructures. Dynamically cultivate process-centric relationships and progressive platforms ”</p>
                    </div>
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">Naj Pater</h3><span class="degi text-title">Member</span>
                        <p class="text font-medium text-title pt-25">“ Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam quis, labore, dignissimos hic neque obcaecati dicta perferendis, repellendus suscipit debitis? Ipsum suscipit nesciunt laborum hic alias cum sed maxime! ”</p>
                    </div>
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">Jezzy Lamot</h3><span class="degi text-title">Worker</span>
                        <p class="text font-medium text-title pt-25">“ Lo Ex perferendis architecto maiores omnis eos voluptatum earum iusto totam! Aspernatur tenetur tempora distinctio repellat natus dolore, debitis voluptatibus illum hic, nulla totam aperiam inventore. Quam quo recusandae quae impedit commodi sit. ”</p>
                    </div>
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">Luis Marko</h3><span class="degi text-title">Co - Founder</span>
                        <p class="text font-medium text-title pt-25">“ natus dolore, debitis voluptatibus illum hic, nulla totam aperiam inventore. Quam quo recusandae quae impedit commodi sitoducts whereas backward-compatible infrastructures. Dynamically cultivate process-centric relationships and progressive platforms ”</p>
                    </div>
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">David Roja</h3><span class="degi text-title">Co - Founder</span>
                        <p class="text font-medium text-title pt-25">“ Seamlessly repurpose 24/7 e-business vis-a-vis resource sucking customer service. Efficiently unleash backward-compatible manufactured products whereas backward-compatible infrastructures. Dynamically cultivate process-centric relationships and progressive platforms ”</p>
                    </div>
                    <div class="testimonial-content text-center">
                        <h3 class="name mb-0 heading5">Micle Clark</h3><span class="degi text-title">Publisher</span>
                        <p class="text font-medium text-title pt-25">“ Lo Ex perferendis architecto maiores omnis eos voluptatum earum iusto totam! Aspernatur tenetur tempora distinctio repellat natus dolore, debitis voluptatibus illum hic, nulla totam aperiam inventore. Quam quo recusandae quae impedit commodi sit. ”</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

    <!--********************************************* CUSTOMER-REVIEW-END *****************************************-->

    <!--********************************************* TOP-BRAND-START *****************************************-->
    <!--
<div class="vs-brand-wrapper vs-brand-layout1 bg-secondary py-60 py-lg-100">
    <div class="container">
        <div class="row vs-carousel text-center" data-slidetoshow="5" data-lgslidetoshow="4" data-mdslidetoshow="4" data-smslidetoshow="3" data-xsslidetoshow="2">
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-1.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-2.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-3.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-4.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-5.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-1.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-2.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-3.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-4.png" alt="Brand Image"></a></div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="vs-brand py-lg-30"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/brand/brand-img-1-5.png" alt="Brand Image"></a></div>
            </div>
        </div>
    </div>
</div>-->

    <!--********************************************* TOP-BRAND-END *****************************************-->
    <!--******************************************************************************************************-->
    <section class="vs-features-wrapper vs-features-layout1 pt-60 pt-lg-130" id="features">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-7">
                    <div class="section-title3"><span class="text-white sub-title">What <span class="bg-primary text-white">We Do</span></span>
                        <h2 class="title1">Why Choose Us</h2><span class="icon mb-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/section-title-icon-1.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="row vs-carousel" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><i class="flaticon-window-1 icon-2x"></i></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Excellent Services</a></h3>
                        <p class="features-text mb-15">We offer a variety of great cleaning services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>We recognise that cleaning</li>
                            <li>We recognise that cleaning</li>
                        </ul><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><i class="flaticon-washing-machine icon-2x"></i></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Safe Cleaning Supplies</a></h3>
                        <p class="features-text mb-15">We offer a variety of great cleaning services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>We recognise that cleaning</li>
                            <li>We recognise that cleaning</li>
                        </ul><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><i class="flaticon-cleaning-3 icon-2x"></i></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Convenient Scheduling</a></h3>
                        <p class="features-text mb-15">We offer a variety of great cleaning services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>We recognise that cleaning</li>
                            <li>We recognise that cleaning</li>
                        </ul><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><i class="flaticon-project-management icon-2x"></i></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Long Time Cleaning</a></h3>
                        <p class="features-text mb-15">We offer a variety of great cleaning services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>We recognise that cleaning</li>
                            <li>We recognise that cleaning</li>
                        </ul><a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* SUBSCRIBE-EMAIL-START *****************************************-->
    <!--
    <div class="vs-subscribe-form-wrap subscribe-form-layout1 bg-secondary border-primary py-40 py-lg-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-7">
                    <form action="#" class="input-style2">
                        <div class="row align-items-center">
                            <div class="form-group col-md-8 mb-4 mb-md-0"><input type="email" placeholder="Enter Your Email Address" class="form-control"> <i class="fal fa-envelope"></i></div>
                            <div class="form-group col-md-4 text-center text-md-left mb-0"><button class="vs-btn style2">Subscribe<i class="far fa-long-arrow-alt-right"></i></button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
-->

    <!--********************************************* SUBSCRIBE-EMAIL-END *****************************************-->


    <!--********************************************* FOOTER-START *****************************************-->

    <footer class="footer-area footer-layout1 background-image" data-vs-img="assets/img/footer/footer-bg-1-1.jpg" data-overlay="primary3" data-opacity="9">
        <div class="footer-widget-area pt-40 pt-md-50 pt-lg-80 pb-10 pb-lg-45">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget_title">Our Services</h3>
                            <ul>
                                <li><a href="products/html/clianio/demo/service-details.html">Cleaning Services</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">House Cleaning</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Cleaning Services</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Professional Cleaning</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Window Cleaning</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Domestic Cleaning</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="vs-recent-post">
                                <div class="recent-post">
                                    <div class="post-img"><a href="products/html/clianio/demo/blog.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/footer/post-thumb-1-1.jpg" alt="Post Image"></a></div>
                                    <div class="post-content"><a href="products/html/clianio/demo/blog.html">Assertively visualize best-of-breed .</a> <span><i class="fal fa-calendar-alt"></i>22 June, 2020</span></div>
                                </div>
                                <div class="recent-post">
                                    <div class="post-img"><a href="products/html/clianio/demo/blog.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/footer/post-thumb-1-2.jpg" alt="Post Image"></a></div>
                                    <div class="post-content"><a href="products/html/clianio/demo/blog.html">Lorem ipsum dolor sit amet order</a> <span><i class="fal fa-calendar-alt"></i>15 July, 2020</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 offset-xl-1">
                        <div class="widget">
                            <h3 class="widget_title">Contact Info</h3>
                            <div class="vs-contact-widget">
                                <div class="row">
                                    <div class="col-sm-6 border-right">
                                        <p class="text"><i class="far fa-map-marker-alt"></i>70 Pleasant Valley Street, Methuen MA 1844</p>
                                        <p class="text"><i class="far fa-angle-right"></i><a href="products/html/clianio/demo/contact.html">Get Direction</a></p>
                                    </div>
                                    <div class="col-sm-6 pl-20 pb-1">
                                        <p class="text"><i class="fal fa-fax"></i><a href="tel:65965252561">659 6525 2561</a></p>
                                        <p class="text"><i class="fal fa-envelope"></i><a href="tel:info@clianio.com">info@clianio.com</a></p>
                                        <p class="text"><i class="fal fa-phone-alt"></i>Get Free Estimate <a href="tel:+259125621523" class="text-primary2 font-blod text-lg d-block">+259 1256 21523</a></p>
                                    </div>
                                    <div class="col-12">
                                        <div class="social-links border-top pt-20">
                                            <p class="text d-inline-block pr-20"><i class="far fa-link"></i>Social Media Links:</p>
                                            <ul class="d-inline-block">
                                                <li><a href="https://goolge.com"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center pt-25 pb-25"><span class="line border-white"></span>
            <p class="text-white mb-0 font-blod">&copy; 2020 Cleanio | All Right Reserved By <a href="https://themeforest.net/user/vecuro" target="_blank">Vecuro.</a></p>
        </div>
    </footer>
    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget widget_about">
                <div class="vs-about"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/logo.png" alt="Clianio"></a>
                    <p class="about-text mb-0">Quickly recaptiualize real-time interfaces and timely models. Proactively exploit viral meta-services for interdependent customer service. Dynamically actualize bleeding-edge internal</p>
                </div>
            </div>
            <div class="widget widget_contact">
                <div class="widget-contact">
                    <p><i class="fas fa-phone-alt"></i><a href="tel:+4256121289">+4256 121 289</a></p>
                    <p><i class="fal fa-envelope"></i><a href="mailto:info@carvis.com">info@carvis.com</a></p>
                    <p><i class="far fa-map-marker-alt"></i>6265 Brockport NY 14420</p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Recent News</h3>
                <div class="vs-recent-post">
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/widget/post-thumb-1.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="products/html/clianio/demo/blog.html">Collaboratively excellent based networks.</a> <span><i class="fal fa-calendar-alt"></i>20 June, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/widget/post-thumb-2.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="products/html/clianio/demo/blog.html">Assertively visualize best-of-breed .</a> <span><i class="fal fa-calendar-alt"></i>20 March, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/widget/post-thumb-3.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="products/html/clianio/demo/blog.html">Conveniently engage optimal leadership.</a> <span><i class="fal fa-calendar-alt"></i>20 July, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/widget/post-thumb-4.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="products/html/clianio/demo/blog.html">Objectively e-business applications.</a> <span><i class="fal fa-calendar-alt"></i>26 Augest, 2020</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div><a href="#" class="scrollToTop bg-primary text-white border-primary"><i class="far fa-long-arrow-alt-up"></i></a>
    <script src="/tailor/products/html/clianio/demo/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/app.min.js"></script>
    <script src="maps/api/js_key_aizasydc3ip9ivc0nixc6v14cklq1hznf_65qeq.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vscustom-carousel.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vsmenu.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/ajaxmail.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/main.js"></script>
</body></html>
