<%- include('../includes/t-head.ejs') %>

    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/app.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/flaticon.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/style.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/spacing.min.css">
    
</head>

<body>
    
    <%- include('../includes/t-navigation.ejs') %>
    

    <!--**************************** SLIDER-START *****************************************-->

    <section class="vs-hero-wrapper vs-hero-layout1">
        <div class="vs-hero-carousel" data-height="600" data-navbuttons="true" data-navbuttons-color="white">
            <div class="hero-slide ls-slide" data-ls="duration: 7000; transition2d: 4;">
                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/3.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 15px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout: 1000; ">
                </div>
                <p class="ls-l sub-title" style="left: 50px; top: 140px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;">
                    <img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Professional Services
                </p>
                <h1 class="title ls-l" style="left: 50px; top: 180px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Design Your Dress Online.</h1>
                <!-- <p class="text ls-l" style="left: 50px; top: 345px; width: 635px; white-space: normal; margin-bottom: 0; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;" data-ls="offsetxin: -100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Rapidiously deliver equity invested web-readiness rather than B2C human capital. Progressively evisculate global customer service.</p> -->
                <div class="hero-btn ls-l" style="top: 437px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
                offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;">
                <a href="/tailor-products" class="vs-btn style1">Explore Our Services<i class="far fa-angle-right"></i></a>
            </div>
                <!-- <div class="hero-btn ls-l" style="top: 437px; left: 234px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/contact.html" class="vs-btn style4 ml-5 ml-md-4 ml-lg-0">Explore Products<i class="fal fa-calendar-alt"></i></a></div> -->
            </div>
            <div class="hero-slide ls-slide" data-ls="duration: 5000; transition2d: 4;">
                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/5.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 15px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout: 1000; ">
                </div>
                
                <p class="ls-l sub-title" style="left: 50px; top: 140px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;">
                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Style as you wish
                </p>

                <h1 class="title ls-l" style="left: 50px; top: 180px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Making your Dress as good as you Dream</h1>
                
                <div class="hero-btn ls-l" style="top: 437px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
                offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="/tailor-products" class="vs-btn style1">Explore Our Services <i class="far fa-angle-right"></i></a></div>
                
            </div>
            <div class="hero-slide ls-slide" data-ls="duration: 7000; transition2d: 4;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/4.jpg" alt="Slide Image" class="ls-bg">
                <div class="hero-video-btn ls-l" style="left: 50px; top: 15px; width: 85px; height: 85px; line-height: 85px; font-size: 24px;" data-ls="offsetyin: -70; durationin: 1000; delayin: 300; easingin:easeOutQuint; offsetyout: -50; durationout:
        1000; "></div>
                <p class="ls-l sub-title" style="left: 50px; top: 140px; width: 500px; white-space: normal; font-size: 20px; line-height: 30px; color: #ffffff; font-style: italic; font-weight: 500; margin-bottom: 0;" data-ls="offsetyin: -50; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyout: -50; durationout: 1000;"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/hero/line-1.png" alt="Line Image">Save Your Time </p>
                <h1 class="title ls-l" style="left: 50px; top: 180px; width: 700px; line-height: 70px; font-size: 60px; font-weight: 700; color: #fff; white-space: normal; margin-bottom: 0;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Faster and Efficiently Stitching.</h1>
                <!-- <p class="text ls-l" style="left: 50px; top: 345px; width: 625px; white-space: normal; margin-bottom: 0; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px;" data-ls="offsetxin: -100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">We provide janitorial and specialized cleaning services for all types and sizes of complexes from small to large offices.</p> -->
                <div class="hero-btn ls-l" style="top: 437px; left: 50px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="/tailor-products" class="vs-btn style1">Explore Our Services<i class="far fa-angle-right"></i></a></div>
                <!-- <div class="hero-btn ls-l" style="top: 637px; left: 234px; z-index: 3;" data-ls="offsetyin:50; rotatexin:10; scalexin:1.1; durationin:800; delayin:1400; easingin:easeOutQuint;
        offsetyout:100; rotatexout:10; scalexout:1.1; durationout:800;"><a href="products/html/clianio/demo/contact.html" class="vs-btn style4 ml-5 ml-md-4 ml-lg-0">Explore Products<i class="fal fa-calendar-alt"></i></a></div> -->
            </div>
        </div>
    </section>

    <!--*************************************** SLIDER END *****************************************-->

    <!--*********************************** ABOUT-US-START *****************************************-->

    <section class="vs-about-us-wrap vs-about-us-layout3 pb-60 pb-lg-130" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="about-us-image position-relative py-40 py-xl-70">
                        <div class="about-image1 rounded-circle overflow-hidden"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/about/9.png" alt="About Us Image" class="w-100"></a></div>
                        <div class="about-imgage2 rounded-circle overflow-hidden p-1 p-xl-3 bg-white"><a href="products/html/clianio/demo/about.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/about/giphy.gif" alt="About Us Image" class="w-100 rounded-circle" style="background-color: #d7f1fb;"></a></div>
                        <!-- <div class="experiance-box bg-primary border-white rounded-circle d-flex align-items-center justify-content-center">
                            <div class="exp-content pt-sm-2">
                                <span class="total-exp counter text-white">25</span>
                                <p class="exp-text text-white mb-0 font-blod">Years Of Experience</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 offset-xl-1">
                    <div class="about-content"><span class="sub-title mb-10 text-primary2 text-20"><strong>Professional Services</strong></span>
                        <h2 class="title heading1 text-primary3">We will make your world beautiful.</h2>
                        <p class="text">
                            
                        In this digital age why make effort for select your style and waste your precious time,
                        So take your phone and get stitched your fabric only in few steps.
                        </p>
                        <ul class="features-list mb-25"> 
                            <li>Design a New Look</li>
                            <li>Revamp Your Wardrobe</li>
                            <li>Recreate The Same Outfit</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--********************************************* ABOUT-US-END *****************************************-->

    <!--********************************************* OUR-PROJECT-START **********************************-->

    <section class="vs-projects-wrapper projects-box-layout1 pt-60 pt-lg-130" id="project">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7">
                    <div class="section-title">
                        <h2 class="title1">Our Services</h2>
                        <p class="text">Choose the Product you would like to stitch.</p>
                        <span class="icon mb-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sewing-machine (2) - Copy.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 overflow-hidden">
            <div class="row gutters-10 vs-carousel" data-slidetoshow="5" data-arrows="true" data-xlslidetoshow="4" data-mlslidetoshow="3" data-lgslidetoshow="3" data-mdslidetoshow="3" data-smslidetoshow="2" data-xsslidetoshow="2">
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-kurta-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an6.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2"><span class="text-title bg-icon"><i class="flaticon-house icon-3x"></i></span>
                                <h3 class="heading4 text-white"><a href="/add-kurta-service">Kurta Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-blouse-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an2.png" alt="Project Image" > </div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-blouse-service">Blouse Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-shirt-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an5.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-shirt-service">Shirt Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-pajama-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an7.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-pajama-service">Pajama Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-pant-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an4.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-pant-service">Pant Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-suit-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an8.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-suit-service">Suit Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-gown-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an1.png" alt="Project Image" ></div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-gown-service">Gown Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 ">
                    <a href="/add-salwar-suit-service">
                        <div class="vs-project">
                            <div class="project-img" data-overlay="titlecolor"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/an3.png" alt="Project Image" > </div>
                            <div class="project-content bg-primary2">
                                <h3 class="heading4 text-white"><a href="/add-salwar-suit-service">Salwar-Suit Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7">
                    <div class="section-title">
                        <span class="icon mb-25"><a href="/tailor-products" class="vs-btn style2">Explore All Services &nbsp;&nbsp;&nbsp;</a> <i class="line"></i> <i class="line-2"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    

    <!--********************************** OUR-PROJECT-END *****************************************-->
    <!-- <section class="vs-cta-wrapper vs-cta-layout1 background-image py-lg-130 py-60" data-vs-img="assets/img/cta/cta-1-1.jpg" data-overlay="primary2" data-opacity="7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-8">
                    <div class="cta-content text-center text-lg-left">
                        <h2 class="cta-title text-white">'<strong>Style</strong> is a way to say who you are without having to<strong> Speak.</strong>'</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6">
                    <div class="cta-button text-center text-lg-right pt-4 pt-lg-0"><a href="/tailor-products" class="vs-btn style1 mb-3 mb-sm-0">Explore All Products</a> <a href="products/html/clianio/demo/contact.html" class="vs-btn style2">About Us <i class="far fa-calendar-alt"></i></a></div>
                </div>
            </div>
        </div>
    </section> -->


    <!--************************************** HOW-WE-WORK-START *****************************************-->
    <section class="vs-work-process-wrap work-process-layout1 bg-light pt-60 pt-lg-130 pb-30 pb-lg-100" id="process">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7">
                    <div class="section-title">
                        <h2 class="title1">How We Works</h2>
                        <!-- <p class="text">Professionally orchestrate accurate information via impactful infrastructures. Assertively fashion cross-platform models.</p> -->
                        <span class="icon mb-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/machine.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="row work-process-area vs-carousel" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary"></span> <span class="number bg-primary border-white text-white">01</span></div>
                        <div class="work-process-content border-primary">
                            <span class="icon text-primary2"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/hand.png" alt="Section Title Icons"> </span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Styling</a></h3>
                            <p class="text">
                                Customise the design on our plateform - select sleeve, collor, neck-desine etc of your liking  or share with us a garment that fits you the best.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary3"></span> <span class="number bg-primary3 border-white text-white">02</span></div>
                        <div class="work-process-content">
                            <span class="icon text-primary2"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/fabric.png" alt="Section Title Icons"> </span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Measurements</a></h3>
                            <p class="text">To ensure the right fit, share with us a garment that fits you the best. It will be used for measurements and will be collected along with the fabric.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary2"></span> <span class="number bg-primary2 text-white border-white">03</span></div>
                        <div class="work-process-content">
                            <span class="icon text-primary2"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sewing-machine.png" alt="Section Title Icons"> </span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Perfection at Work</a></h3>
                            <p class="text">Our skilled and professional team will stitch your outfit with precision in the next 3-8 days. After which the finished product will be delivered directly to you.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-lg-4">
                    <div class="vs-work-process text-center">
                        <div class="work-process-top"><span class="shape bg-primary2"></span> <span class="number bg-primary2 text-white border-white">04</span></div>
                        <div class="work-process-content">
                            <span class="icon text-primary2"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sewing-machine.png" alt="Section Title Icons"> </span>
                            <h3 class="process-title heading4"><a href="products/html/clianio/demo/about.html">Pay On Delivery</a></h3>
                            <p class="text">Once your stitched outfit reaches you (along with your sample), pay the delivery team and complete your Esilai experience.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!--******************************** HOW-WE-WORK-END *****************************************-->

    <!--********************************************* Online Shop-START ******************************-->


    <!-- <section class="vs-appointment-form appointment-form-layout1 background-image py-lg-130 py-60" id="contact" data-vs-img="/tailor/products/html/clianio/demo/assets/img-tailor/hero/banner-14.jpg" 
    background-attachment: fixed; data-overlay="primary2" data-opacity="8">
        <div class="container">
            <div class="form-title pb-15 pb-lg-30">
                <h2 class="title1 text-white text-center">Our Online Shop Is <br> Coming Soon</h2>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="appointment-form input-style2">
                        <div class="row gutters-10">

                            <div class="form-group col-6 mt-20 mb-0 text-center">
                                <a href="/tailor-products">
                                    <div class="vs-btn style1 text-center" >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Coming Soon <i class="fal fa-calendar-alt"></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    
    <section class="vs-cta-wrapper vs-cta-layout1 background-image " data-vs-img="assets/img/cta/cta-1-1.jpg" data-overlay="primary2" data-opacity="7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-4">
                    <img src="/tailor/products/html/clianio/demo/assets/img-tailor/team/img-09.png" alt="Section Title Icons">
                </div>
                <div class="col-lg-5 col-xl-8">
                    <div class="cta-button text-center text-lg-right ">
                        <div class="cta-content text-center ">
                            <div class="form-title py-15 pb-lg-30">
                                <h2 class="title1 text-white text-center">Our Online Shop Is <br> Coming Soon</h2>
                            </div>
                            <!-- <a href="/tailor-products" class="vs-btn style1 mb-3 mb-sm-0">Explore All Products</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--************************************* Online SHop-END *****************************************-->

    <!--******************************************************************************************************-->
    <section class="vs-features-wrapper vs-features-layout1 pt-60 pt-lg-130" id="features">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-7">
                    <div class="section-title3"><span class="text-white sub-title"></span>
                        <h2 class="title1">Why Choose Us</h2>
                        <span class="icon mb-25">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sewing-machine (2) - Copy.png" alt="Section Title Icons"> <i class="line"></i> <i class="line-2"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div class="row vs-carousel" data-slidetoshow="3" data-mdslidetoshow="2" data-smslidetoshow="2" data-xsslidetoshow="1">
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sewing (1).png" alt="Section Title Icons"> </span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Excellent Services</a></h3>
                        <p class="features-text mb-15">We offer a variety of great stitching services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>Quick Stitching</li>
                            <li>Style According You</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/dressmaker.png" alt="Section Title Icons"></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Convenient Scheduling</a></h3>
                        <p class="features-text mb-15">We offer a variety of great stitching services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>Online Comfort</li>
                            <li>Call Us For Any Update</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/icon/sew-machine.png" alt="Section Title Icons"></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Made For You</a></h3>
                        <p class="features-text mb-15">We offer a variety of great stitching services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>No Compromise in Quality</li>
                            <li>Your Own Personal Taste</li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-xl-4">
                    <div class="vs-features border-primary bg-white"><span class="features-icon text-primary mb-15 mb-xl-25"><i class="flaticon-project-management icon-2x"></i></span>
                        <h3 class="features-title heading4 mb-10"><a href="products/html/clianio/demo/about.html">Long Time Cleaning</a></h3>
                        <p class="features-text mb-15">We offer a variety of great cleaning services to our customers.</p>
                        <ul class="features-list mb-25">
                            <li>We recognise that cleaning</li>
                            <li>We recognise that cleaning</li>
                        </ul>
                        <a href="products/html/clianio/demo/about.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>


    
    <!--********************************************* FOOTER-START *****************************************-->

    <%- include('../includes/t-footer.ejs') %>
    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget widget_about">
                <div class="vs-about"><a href="index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/k.png" alt="Clianio"></a>
                    <!-- <p class="about-text mb-0">Quickly recaptiualize real-time interfaces and timely models. Proactively exploit viral meta-services for interdependent customer service. Dynamically actualize bleeding-edge internal</p> -->
                </div>
            </div>
            <div class="widget widget_contact">
                <div class="widget-contact">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg><a href="#">Cart</a></p>
                    <p><i class="fal fa-envelope"></i><a href="mailto:info@clianio.com">Orders</a></p>
                    <p><i class="bi bi-heart"></i><a href="mailto:info@clianio.com">Wishlist</a></p>
                </div>
            </div>
            <!-- <div class="widget">
                <h3 class="widget_title">Recent News</h3>
                <div class="vs-recent-post">
                    <div class="recent-post">
                        <div class="post-img"><img src="assets/img/widget/post-thumb-1.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="blog.html">Collaboratively excellent based networks.</a> <span><i class="fal fa-calendar-alt"></i>20 June, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="assets/img/widget/post-thumb-2.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="blog.html">Assertively visualize best-of-breed .</a> <span><i class="fal fa-calendar-alt"></i>20 March, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="assets/img/widget/post-thumb-3.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="blog.html">Conveniently engage optimal leadership.</a> <span><i class="fal fa-calendar-alt"></i>20 July, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="assets/img/widget/post-thumb-4.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="blog.html">Objectively e-business applications.</a> <span><i class="fal fa-calendar-alt"></i>26 Augest, 2020</span></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <a href="#" class="scrollToTop bg-primary text-white border-primary"><i class="far fa-long-arrow-alt-up"></i></a>
    <script src="/tailor/products/html/clianio/demo/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/app.min.js"></script>
    <script src="maps/api/js_key_aizasydc3ip9ivc0nixc6v14cklq1hznf_65qeq.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vscustom-carousel.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vsmenu.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/ajaxmail.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/main.js"></script>
</body></html>
