<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clianio - Cleaning Services HTML Template - Team</title>
    <meta name="description" content="Clianio - Cleaning Services HTML Template">
    <meta name="author" content="Vecuro">
    <meta name="keywords" content="Clianio - Cleaning Services HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/tailor/products/html/clianio/demo/assets/img-tailor-products/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/app.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/flaticon.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/style.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/spacing.min.css">
</head>
<style>
    .filterDiv {
        float: left;
        color: #ffffff;
        /* width: 100px; */
        line-height: 100px;
        text-align: center;
        display: none;
    }

    .show {
        display: block;
    }
</style>

<body>
    <div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#"><input type="text" placeholder="What are you looking for"> <button type="submit"><i class="fal fa-search"></i></button></form>
    </div>
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area"><button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor-products/logo.png" alt="Clianio"></a></div>
            <div class="vs-mobile-menu"></div>
        </div>
    </div>
    <div class="sticky-header-wrap sticky-header py-1 py-sm-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor-products/logo.png" alt="Clianio"></a></div>
                </div>
                <div class="col-7 col-md-9 text-right position-static">
                    <nav class="main-menu menu-style1 d-none d-lg-block">
                        <ul>
                            <li class="menu-item-has-children"><a href="products/html/clianio/demo/index.html">Home</a>
                            </li>
                            <li><a href="products/html/clianio/demo/about.html">About</a></li>
                            <li class="menu-item-has-children"><a href="#">Services</a>
                                <ul class="submenu">
                                    <li><a href="products/html/clianio/demo/services.html">Services</a></li>
                                    <li><a href="products/html/clianio/demo/service-details.html">Services Details</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-wrap menu-item-has-children"><a href="#">Pages</a>
                                <ul class="mega-menu">
                                    <li><a href="#">Pagelist 1</a>
                                        <ul>
                                            <li><a href="products/html/clianio/demo/index.html">Home One</a></li>
                                            <li><a href="products/html/clianio/demo/index-2.html">Home Two</a></li>
                                            <li><a href="products/html/clianio/demo/index-3.html">Home Three</a></li>
                                            <li><a href="products/html/clianio/demo/index-onepage.html">Home One (One Page)</a></li>
                                            <li><a href="products/html/clianio/demo/index-2-onepage.html">Home Two (One Page)</a></li>
                                            <li><a href="products/html/clianio/demo/index-3-onepage.html">Home Three (One Page)</a></li>
                                            <li><a href="products/html/clianio/demo/about.html">About</a></li>
                                            <li><a href="products/html/clianio/demo/services.html">Services</a></li>
                                            <li><a href="products/html/clianio/demo/service-details.html">Services Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pagelist 2</a>
                                        <ul>
                                            <li><a href="index.html">Project</a></li>
                                            <li><a href="index.html">Project Details</a></li>
                                            <li><a href="products/html/clianio/demo/index.html">Team</a></li>
                                            <li><a href="index.html">Team Details</a></li>
                                            <li><a href="index.html">Price Plan</a></li>
                                            <li><a href="index.html">FAQ Page</a></li>
                                            <li><a href="index.html">Contact</a></li>
                                            <li><a href="index.html">Error</a></li>
                                            <li><a href="index.html">Shop</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pagelist 3</a>

                                    </li>
                                    <li><a href="index.html">Contact</a></li>
                                </ul>
                    </nav><button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <header class="vs-header-wrapper header-layout1">
        <div class="header-logo"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img-tailor-products/logo.png" alt="Clianio"></a></div><a href="tel:+892125658965" class="vs-btn style4 call-button">+892 1256 58965<i class="fas fa-phone-alt"></i></a>
        <div class="header-top-wrap" data-overlay="primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-5 offset-xl-2 text-column d-none d-sm-block">
                        <div class="header-top-left pl-60">
                            <p class="text text-white"><i class="fal fa-clock"></i>Mon - Fri: 09.00am - 10.00pm</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-5">
                        <div class="header-top-right text-center text-sm-right">
                            <div class="social-links">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu-wrap">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-12 col-lg-7 col-xl-8 position-static">
                        <nav class="main-menu menu-style1 text-center mobile-menu-active">
                            <ul>
                                <li class="menu-item-has-children"><a href="products/html/clianio/demo/index.html">Home</a></li>
                                <li><a href="products/html/clianio/demo/about.html">About</a></li>
                                <li class="menu-item-has-children"><a href="#">Services</a></li>
                                <li class="menu-item-has-children"><a href="index.html">News</a></li>
                                <li class="mega-menu-wrap menu-item-has-children"><a href="#">Pages</a></li>
                                <li><a href="index.html">Contact</a></li>
                            </ul>
                        </nav><button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                    <div class="col-lg-2 align-self-center">
                        <div class="header-button text-right d-none d-lg-block">
                            <ul>
                                <!--                                <li><a href="#" class="searchBoxTggler"><i class="far fa-search"></i></a></li>-->
                                <!--                                <li><a href="#" class="sideMenuToggler"><i class="far fa-bars"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper breadcumb-layout1 background-image" data-vs-img="assets/img/breadcrumb/breadcumb-img-1.jpg" data-overlay="primary3" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content py-100 py-lg-140">
                <h1 class="breadcumb-title title1 text-white mb-0">Products</h1>
                <ul class="bg-white text-primary3">
                    <li><a href="products/html/clianio/demo/index.html">Home</a></li>
                    <li class="active">Products</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Control buttons -->
   

    <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
    
    <section class="vs-team-wrapper vs-team-layout2 pt-60 pt-lg-130 pb-30 pb-lg-100">
        <div class="container">
            <div class="row justify-content-center pb-40 pb-lg-80">
                <div class="col-xl-8 col-lg-10">
                    <div class="filter-nav-style1 project-filter-nav bg-white nav-primary text-center py-20 py-lg-30">
                        <ul class="filter-nav">
                            <li><button onclick="filterSelection('all')" class="isActive active">All</button></li>
                            <li><button onclick="filterSelection('man')" >Men</button></li>
                            <li><button onclick="filterSelection('women')" >Women</button></li>
                            <li><button onclick="filterSelection('kids')" >Kids</button></li>
                            <!-- <li><button onclick="filterSelection('others')" >Others</button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv women">
                    <a href="/blouse-form">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu2.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a href="index.html">Blouse Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv women">
                    <a href="/blouse-form">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu1.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">
                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a href="index.html">Gown Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv women">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu9.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a href="index.html">Kurti Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv women">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu3.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a >Salwar-Suit Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv man">
                    <a href="/shirt-form">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu5.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a >Shirt Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv man">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu4.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a>Pant Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv man">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu7.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a>Kurta Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv man">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/anu/anu8.png" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a >Pajama Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-sm-6 col-lg-3 col-xs-6 filterDiv man">
                    <a href="#">
                        <div class="vs-team-member">
                            <div class="member-img"><img src="/tailor/products/html/clianio/demo/assets/img-tailor/team/team-img-2-9.jpg" alt="Team Member"></div>
                            <div class="member-content text-center border-primary">

                                <h3 class="member-name heading4 mb-0 text-primary3" style="padding-bottom: 20px;"><a>Pajama Stitching</a></h3>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </section>
    <footer class="footer-area footer-layout1 bg-light">
        <div class="footer-widget-area pt-40 pt-md-50 pt-lg-80 pb-10 pb-lg-45">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget_title">Women Services</h3>
                            <ul>
                                
                                <li><a href="products/html/clianio/demo/service-details.html">Blouse Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Salwar Suit Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Gown Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Kurti Stitching</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="widget">
                            <h3 class="widget_title">Men Services</h3>
                            <ul>
                                <li><a href="products/html/clianio/demo/service-details.html">Shirt Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Pant Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Kurta Stitching</a></li>
                                <li><a href="products/html/clianio/demo/service-details.html">Pajama Stitching</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 offset-xl-1">
                        <div class="widget">
                            <h3 class="widget_title">Contact Info</h3>
                            <div class="vs-contact-widget">
                                <div class="row">
                                    <div class="col-sm-6 border-right">
                                        <p class="text"><i class="far fa-map-marker-alt"></i>Kalyanpur, Thedi Pulia 226022</p>
                                        <p class="text"><i class="far fa-angle-right"></i><a href="products/html/clianio/demo/contact.html">Get Direction</a></p>
                                    </div>
                                    <div class="col-sm-6 pl-20 pb-1">
                                        <p class="text"><i class="fal fa-fax"></i><a href="tel:65965252561">+91 522 796 5388</a></p>
                                        <p class="text"><i class="fal fa-envelope"></i><a href="tel:info@clianio.com">info@sew.com</a></p>
                                        <!-- <p class="text"><i class="fal fa-phone-alt"></i>Get Free Estimate <a href="tel:+259125621523" class="text-primary2 font-blod text-lg d-block">+91 522 796 5388</a></p> -->
                                    </div>
                                    <div class="col-12">
                                        <div class="social-links border-top pt-20">
                                            <p class="text d-inline-block pr-20"><i class="far fa-link"></i>Social Media Links:</p>
                                            <ul class="d-inline-block">
                                                <li><a href="https://goolge.com"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="https://goolge.com"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center pt-25 pb-25"><span class="line border-primary3"></span>
            <p class="mb-0 font-blod">&copy; 2021 Cleanio | All Right Reserved By <a href="https://themeforest.net/user/vecuro" target="_blank">Vecuro.</a></p>
        </div>

    </footer>

    <a href="#" class="scrollToTop bg-primary text-white border-primary"><i class="far fa-long-arrow-alt-up"></i></a>
    <script src="/tailor/products/html/clianio/demo/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/app.min.js"></script>
    <script src="maps/api/js_key_aizasydc3ip9ivc0nixc6v14cklq1hznf_65qeq.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vscustom-carousel.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vsmenu.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/ajaxmail.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/main.js"></script>

    <script>
        filterSelection("all")

        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

</body></html>
