<form action="/basket" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="btn" type="submit">Add to Basket</button>
  <input type="hidden" name="serviceId" value="<%= service._id %>">
</form>