    <div class="breadcumb-wrapper breadcumb-layout1 background-image"
        data-vs-img="/tailor/products/html/clianio/demo/assets/img-tailor/w4.jpg" data-overlay="primary3"
        data-opacity="7">
        <div class="container">
            <div class="breadcumb-content py-100 py-lg-140">
                <h1 class="breadcumb-title title1 text-white mb-0"><%= banner %></h1>
                <ul class="bg-white text-primary3">
                    <li><a href="products/html/clianio/demo/index.html">Home</a></li>
                    <li class="active"><%= banner %></li>
                </ul>
            </div>
        </div>
    </div>