<footer class="footer-area footer-layout1 background-image" data-vs-img="assets/img/footer/footer-bg-1-1.jpg" data-overlay="primary3" data-opacity="9">
  <div class="footer-widget-area pt-40 pt-md-50 pt-lg-80 pb-10 pb-lg-45">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="widget">
                      <h3 class="widget_title">Women Services</h3>
                      <ul>
                          
                          <li><a href="/add-blouse-service">Blouse Stitching</a></li>
                          <li><a href="/add-gown-service">Gown Stitching</a></li>
                          <li><a href="/add-kurti-service">Salwar Suit Stitching</a></li>
                          <li><a href="/add-salwar-suit-service">Kurti Stitching</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                  <div class="widget">
                      <h3 class="widget_title">Men Services</h3>
                      <ul>
                          <li><a href="/add-shirt-service">Shirt Stitching</a></li>
                          <li><a href="/add-pant-service">Pant Stitching</a></li>
                          <li><a href="/add-kurta-service">Kurta Stitching</a></li>
                          <li><a href="/add-pajama-service">Pajama Stitching</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-5 col-xl-5 offset-xl-1">
                  <div class="widget">
                      <h3 class="widget_title">Contact Info</h3>
                      <div class="vs-contact-widget">
                          <div class="row">
                              <div class="col-sm-6 border-right">
                                  <p class="text"><i class="far fa-map-marker-alt"></i>Kalyanpur, Lucknow &nbsp; 226022</p>
                                  <p class="text"><i class="far fa-angle-right"></i><a href="products/html/clianio/demo/contact.html">Get Direction</a></p>
                              </div>
                              <div class="col-sm-6 pl-20 pb-1">
                                  <p class="text"><i class="fal fa-fax"></i><a href="tel:65965252561">+91 638 879 50435</a></p>
                                  <p class="text"><i class="fal fa-envelope"></i><a href="tel:info@clianio.com">info@snapsew.com</a></p>
                                  <!-- <p class="text"><i class="fal fa-phone-alt"></i>Get Free Estimate <a href="tel:+259125621523" class="text-primary2 font-blod text-lg d-block">+91 522 796 5388</a></p> -->
                              </div>
                              <div class="col-12">
                                  <div class="social-links border-top pt-20">
                                      <p class="text d-inline-block pr-20"><i class="far fa-link"></i>Social Media Links:</p>
                                      <ul class="d-inline-block">
                                          <li><a href="https://goolge.com"><i class="fab fa-facebook-f"></i></a></li>
                                          <li><a href="https://goolge.com"><i class="fab fa-twitter"></i></a></li>
                                          <li><a href="https://goolge.com"><i class="fab fa-linkedin-in"></i></a></li>
                                          <li><a href="https://goolge.com"><i class="fab fa-instagram"></i></a></li>
                                          <li><a href="https://goolge.com"><i class="fab fa-youtube"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-copyright text-center pt-25 pb-25"><span class="line border-white"></span>
      <p class="text-white mb-0 font-blod">&copy; 2021 SnapSew | All Right Reserved By <a target="_blank">SnapSew.</a></p>
  </div>
</footer>