<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= pageTitle %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/tailor/blouse-form/themes/css/bootstrap.min.css">
	<link rel="stylesheet" href="/tailor/blouse-form/ajax/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/tailor/blouse-form/themes/css/animate.min.css">
	<link rel="stylesheet" href="/tailor/blouse-form/themes/css/fontawesome-all.css">
	<link rel="stylesheet" href="/tailor/blouse-form/themes/css/style.css">
	<link rel="stylesheet" type="text/css" href="/tailor/blouse-form/themes/css/colors/switch.css">
	<!-- Color Alternatives -->
	<link href="/tailor/blouse-form//tailor/blouse-form/themes/css/colors/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="/tailor/blouse-form//tailor/blouse-form/themes/css/colors/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="/tailor/blouse-form//tailor/blouse-form/themes/css/colors/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="/tailor/blouse-form//tailor/blouse-form/themes/css/colors/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5">
</head>
<body>
	<!-- This code is use for color chooser, you can delete -->
	<div class="clearfix"></div>
	<div class="wrapper">
		<div class="steps-area steps-area-fixed">
			<div class="image-holder">
				<img src="/tailor/blouse-form/themes/standart-shirt/v.jpg" alt="">
			</div>
			<div class="steps clearfix">
				<ul class="tablist multisteps-form__progress">
					<li class="multisteps-form__progress-btn js-active current">
						<span>1</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>2</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>3</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>4</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>5</span>
					</li>
					<li class="multisteps-form__progress-btn">
						<span>6</span>
					</li>
					<li class="multisteps-form__progress-btn last">
						<span>7</span>
					</li>
				</ul>
			</div>
		</div>
		<form class="multisteps-form__form" action="/add-shirt-service" id="wizard" method="POST">
			<div class="form-area position-relative">
				<!-- div 1 -->
				<div class="multisteps-form__panel js-active" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 1</span>
									<h2>Select Collar Style</h2>
									<div class="step-box">
										<div class="row">
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position active" for="p1">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c1.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colAnglais" name="p1" value="collor-colAnglais" checked="" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c2.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colFrancais" name="p1" value="collor-colFrancais" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c3.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-cutAway" name="p1" value="collor-cutAway" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c4.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colAmericain" name="p1" value="collor-colAmericain" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c5.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colOfficier" name="p1" value="collor-colOfficier" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c6.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colClub" name="p1" value="collor-colClub" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c7.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colItalien" name="p1" value="collor-colItalien" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c8.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colCubain" name="p1" value="collor-colCubain" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/c9.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" id="collor-colMao" name="p1" value="collor-colMao" required></span>
													</span>
												</label>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.inner -->
						<div class="actions">
							<ul>
								<li class="disable" aria-disabled="true"><span class="js-btn-next" title="NEXT">Backward <i class="fa fa-arrow-right"></i></span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- div 2 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">

						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 2</span>
									<h2>Select The Front Look of Shirt</h2>
									<div class="step-box">
										<div class="row">
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position active">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/f1.jpg" alt="">
													</span>
													<span class="service-check-option"> 
														<span><input type="radio" name="p2" id="frontLook-superSkinny" value="frontLook-superSkinny" checked="" required="required"></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/f2.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p2" id="frontLook-slim" value="frontLook-slim" required="required"></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/f3.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p2" id="frontLook-tapered" value="frontLook-tapered" required="required"></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/f4.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p2" id="frontLook-regular" value="frontLook-regular" required="required"></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/f5.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p2" id="frontLook-relaxed" value="frontLook-relaxed" required="required"></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- div 3 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 3</span>
									<h2>Select The Back Look of Your Shirt</h2>
									<div class="step-box">
										<div class="row">
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position active">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/bs1.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p3" id="backLook-italian" value="backLook-italian" checked="" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/bs2.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p3" id="backLook-side" value="backLook-side" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/bs3.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p3" id="backLook-inverted" value="backLook-inverted" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/bs4.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p3" id="backLook-box" value="backLook-box" required></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ./inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- div 4 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 4</span>
									<h2>Select The Style of Placket</h2>
									<p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.</p>
									<div class="step-box">
										<div class="row">
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position active">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/pl1.jpg" alt="">
													</span>
													<span class="step-box-text">
														Front Placket
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p4" id="placket-frontPlacket" value="placket-frontPlacket" checked="" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/pl2.jpg" alt="">
													</span>
													<span class="step-box-text">
														French Front
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p4" id="placket-frenchFront" value="placket-frenchFront" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-4">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/pl3.jpg" alt="">
													</span>
													<span class="step-box-text">
														Covered Placket
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p4" id="placket-coveredPlacket" value="placket-coveredPlacket" required></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ./inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- div 5 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 5</span>
									<h2>Select The Style of cuff</h2>
									<div class="step-box">
										<div class="row">
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position active">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf1.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-frenchCuff" value="cuff-frenchCuff" checked="" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf2.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-oneButton" value="cuff-oneButton" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf3.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-twoButton" value="cuff-twoButton" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf4.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-threeButton" value="cuff-threeButton" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf5.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-turnBack" value="cuff-turnBack" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf6.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-oneButtonCut" value="cuff-oneButtonCut" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf7.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-twoButtonCut" value="cuff-twoButtonCut" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf8.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-largeRounded" value="cuff-largeRounded" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf9.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-squareCuff" value="cuff-squareCuff" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf10.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-barrelCuff" value="cuff-barrelCuff" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf11.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-envelopeCuff" value="cuff-envelopeCuff" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/cf12.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p5" id="cuff-italian" value="cuff-italian" required></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ./inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- div 6 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no">Step 6</span>
									<h2>Select The Style of Pocket</h2>
									<!-- <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.</p> -->
									<div class="step-box">
										<div class="row">
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position active">
													<span class="step-box-icon">
														<!-- <img src="/tailor/blouse-form/themes/img/d3.png" alt=""> -->
													</span>
													<span class="step-box-text">
														No Pocket
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-noPocket" value="pocket-noPocket" checked=""></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position ">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p1.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-Pocket0" value="pocket-Pocket0" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p2.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket1" value="pocket-pocket1" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p3.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket2" value="pocket-pocket2" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p4.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket3" value="pocket-pocket3" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p5.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket4" value="pocket-pocket4" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p6.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket5" value="pocket-pocket5" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p7.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket6" value="pocket-pocket6" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p8.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket7" value="pocket-pocket7" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p9.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket8" value="pocket-pocket8" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p10.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket9" value="pocket-pocket9" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p11.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket10" value="pocket-pocket10" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p12.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket11" value="pocket-pocket11" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p13.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket12" value="pocket-pocket12" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p14.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket13" value="pocket-pocket13" required></span>
													</span>
												</label>
											</div>
											<div class="col-md-3">
												<label class="step-box-content bg-white text-center relative-position">
													<span class="step-box-icon">
														<img src="/tailor/blouse-form/themes/img/p14.jpg" alt="">
													</span>
													<span class="service-check-option">
														<span><input type="radio" name="p6" id="pocket-pocket14" value="pocket-pocket14" required></span>
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li><span class="js-btn-next" title="NEXT">NEXT <i class="fa fa-arrow-right"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- div 7 -->
				<div class="multisteps-form__panel" data-animation="slideHorz">
					<div class="wizard-forms">
						<div class="inner pb-100 clearfix">
							<div class="form-content pera-content">
								<div class="step-inner-content">
									<span class="step-no bottom-line">Step 7</span>
									<div class="step-progress float-right">
										<span>7 of 7 completed</span>
										<div class="step-progress-bar">
											<div class="progress">
												<div class="progress-bar" style="width:100%"></div>
											</div>
										</div>
									</div>
									<h2>Complete Final Step</h2>
									<h3 style="padding-top: 20px;">What Time Do You Want To Submit Your Fabric To Our Delivery Boy.</h3>
									<div class="step-content-field">
										<div class="date-picker date datepicker">
											<input type="text" name="p7" id="addDate" class="form-control" required>
											<div class="input-group-append"><span>ADD DATE</span></div>
										</div>
										<div class="plan-area">
											<div class="plan-icon-text text-center active">
												<div class="plan-icon">
													<i class="fas fa-chess-queen"></i>
												</div>
												<div class="plan-text">
													<h3>Premium Plan</h3>
													<p>Get Your Product Only In 3 Working Days ( From The Submission Of Fabric )</p>
													<input type="radio" name="p8" value="premiumPlan" id="premiumPlan" checked="" required>
												</div>
											</div>
											<div class="plan-icon-text text-center">
												<div class="plan-icon">
													<i class="fas fa-cubes"></i>
												</div>
												<div class="plan-text">
													<h3>Basic Plan</h3>
													<p>Your Product Will Be Delivered in 3 to 8 Days (From The Submission Of Fabric )</p>
													<input type="radio" name="p8" value="basicPlan" id="basicPlan" required>
												</div> 
											</div>
										</div>
										<div class="budget-area">
											<p>Any Special Request </p>
											<!-- <div class="opti-list">
												<ul class="d-flex">
													<li class="bg-white active"><input type="checkbox" name="code_opti1" value="Semantic coding" checked="">Semantic coding</li>
													<li class="bg-white"><input type="checkbox" name="code_opti2" value="Mobile APP">Mobile APP</li>
													<li class="bg-white"><input type="checkbox" name="code_opti3" value="Mobile Design">Mobile Design</li>
												</ul>
											</div> -->
										</div>
										<div class="comment-box">
											<textarea name="p9" id="extraMessage" placeholder="Extra Message"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.inner -->
						<div class="actions">
							<ul>
								<li><span class="js-btn-prev" title="BACK"><i class="fa fa-arrow-left"></i> BACK </span></li>
								<li>
									<input type="hidden" name="object" value="shirt">
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<button type="submit" title="NEXT">SUBMIT <i class="fa fa-arrow-right"></i></button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="/tailor/blouse-form/themes/js/jquery-3.3.1.min.js"></script>
	<script src="/tailor/blouse-form/themes/js/jquery.validate.min.js"></script>
	<script src="/tailor/blouse-form/ajax/js/bootstrap-datepicker.min.js"></script>
	<script src="/tailor/blouse-form/themes/js/bootstrap.min.js"></script>
	<script src="/tailor/blouse-form/themes/js/conditionize.flexible.jquery.min.js"></script>
	<script src="/tailor/blouse-form/themes/js/main.js"></script>
	<script src="/tailor/blouse-form/themes/js/switch.js"></script>
	<script>
		$("#files").change(function() {
			filename = this.files[0].name
			// console.log(filename);
		});
		function UploadFile() {
			var reader = new FileReader();
			var file = document.getElementById('attach').files[0];
			reader.onload = function() {
				document.getElementById('fileContent').value = reader.result;
				document.getElementById('filename').value = file.name;
				document.getElementById('wizard').submit();
			}
			reader.readAsDataURL(file);
		}
		$(document).ready(function() {
			$('.conditional').conditionize();
		});
	</script>
</body>
</html>